.card {
  width: 450px;
  background-color: white;
  color: hsl(224, 23%, 55%);
  border-radius: 20px;
  overflow: hidden;
  margin: 50px auto;
}

.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 32px;
}

.hero-image {
  width: 100%;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.container > * {
  margin: 13px 0;
}

.order-description {
  line-height: 25px;
}

.plan-description {
  line-height: 20px;
  margin-right: 75px;
}

button {
  width: 100%;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
}

.proceed-button {
  background-color: hsl(245, 75%, 52%);
  padding: 1rem 0;
  color: white;
  box-shadow: 0 20px 20px -10px rgb(197 189 245);
}

.proceed-button:hover {
  opacity: 0.8;
}

.cancel-button {
  background-color: white;
  color: hsl(224, 23%, 55%);
  margin-top: 22px;
}

.cancel-button:hover {
  color: black;
}

.plan-container {
  font-size: 16px;
  background-color: hsl(255, 100%, 98%);
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.plan-container a {
  color: hsl(245, 75%, 52%);
  font-size: 13px;
  font-weight: 700;
}

.plan-container a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.plan-container strong {
  color: hsl(223, 47%, 23%);
}
